boto3==1.34.0
urllib3==2.1.0
MQTT_BROKER = "3a28ae8aa3b449dba0a906bd966f1576.s1.eu.hivemq.cloud"
MQTT_PORT = 8883        # Port SSL/TLS
MQTT_USER = "lethien"
MQTT_PASSWORD = "Thien@123"
MQTT_TOPIC = "esp32s3/soil"